

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h2>Who Said Print Is Dead?</h2>
        <p class="lead">We understand. There's just something irreplacable about flipping the pages and exploring the news. Subscribe to The Harvard Crimson and have bi-weekly, weekly, or daily newspapers delievered to your front door. It's easy to sign up and get started!</p>
        <a class="btn btn-large" href="#subscribe">Get started today</a>
        <br/><br/><br/><br/><br/><br/><br/><br/>
      </div>

      <hr>

      <!-- Example row of columns -->
      <div id="subscribe" class="row-fluid plans">
        <div class="span4 well">
          <div class="plan"><h2>Silver</h2></div>
          <ul class="unstyled">
            <li>Four issues a month</li>
          </ul>
          <h3>$9/month</h3>
          <%= link_to 'Subscribe', new_user_registration_path(:plan => 'silver'), :class => 'btn' %> 
        </div>
        <div class="span4 well featured">
          <div class="plan featured-plan"><h2>Gold</h2></div>
          <ul class="unstyled">
            <li>Ten issues a month</li>
          </ul>
          <h3>$19/month</h3>
          <%= link_to 'Subscribe', new_user_registration_path(:plan => 'gold'), :class => 'btn btn-large' %> 
        </div>
       <div class="span4 well">
          <div class="plan"><h2>Platinum</h2></div>
          <ul class="unstyled">
            <li>Thirty issues a month</li>
          </ul>
          <h3>$29/month</h3>
          <%= link_to 'Subscribe', new_user_registration_path(:plan => 'platinum'), :class => 'btn' %> 
        </div>
      </div>
</div><!--Container-->

